<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
</head>
<body>
<div class="login">
    <h1>Stress Prediction App</h1>

    <!--Main Input for Receiving Query  -->
    <form action = "{{url_for('predict')}}" method = "post">
        <input type="text" name="HR" placeholder="hr" required="required"/>
        <!--input type="text" name="umur" placeholder="Umur" required="required"/-->
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Prediksi</button>
    </form>
    <br>
    <br>
    {{prediction_text}}
    {{dataShow}}
</div>


</body>
</html>